.choice-box {
  -fx-background-color: white;
  -fx-mark-color: purple;
-fx-border-color: silver ;
    -fx-border-width: 1 ;
    -fx-border-radius:3;

}

.choice-box > .label { -fx-text-fill: black; }

.name{
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 15px;
    -fx-font-weight:bold;
    -fx-text-fill:teal;
    -fx-background-radius: 5, 5;
    -fx-padding:5;
}

.button{
    -fx-background-color: teal;
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 15px;
    -fx-font-weight:bold;
    -fx-text-fill:white;
    -fx-background-radius: 5, 5;
    -fx-cursor:hand;
}
.root{
  -fx-background-color:  linear-gradient(to bottom right,derive(wheat,+50%),derive(wheat,+80%));
}